# Created by .ignore support plugin (hsz.mobi)
.idea
.idea/.gitignore
.idea/URLShortener.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3
venv/