# Created by .ignore support plugin (hsz.mobi)
migrations
db.sqlite3
.idea
.idea/.gitignore
.idea/URLShortener.iml
.idea/inspectionProfiles/
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
URLShortenerDjango/__pycache__/
main/__pycache__/
main/migrations/__pycache__/
