* {
    font-family: 'Roboto Mono', monospace;
    color: #9BBD4C;
}

body {
    background-color: #4b4b4b;
}

.full-width {
    width: 100% !important;
}

.btn {
    background-color: #9BBD4C;
    color: #000000;
    font-weight: 600;
}

.btn:hover {
    transition-duration: 200ms;
    transition: ease-in-out;
    background-color: #222222 !important;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}