{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container vertical-center">
            <div class="row">

                <div class="col-12 col-md-4"></div>

                <div class="col-12 col-md-4">
                    <form action="" method="post" id="my-form">{% csrf_token %}
                        <div class="form-group">
                            <label for="originalLink">Link to shorten (Original Link)</label>
                            <input id="originalLink" class="form-control" name="original_url"
                                   placeholder="Website to link to here"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="urlSlug">The name of the shortened link</label>
                            <input id="urlSlug" class="form-control" name="slug" maxlength="255" placeholder="myurlname"
                                   type="text">
                        </div>

                        <div class="form-group">
                            <input class="btn btn-primary full-width" type="submit" value="Shorten!">
                        </div>

                        {% if final_url %}
                            <div class="form-group py-3" onclick="copyToClipboard()">
                                <label for="final-url" class="text-center">Click me to copy!</label>
                                <textarea class="form-control hide-scroll" id="final-url" rows="1"></textarea>
                            </div>
                        {% endif %}

                    </form>
                </div>
            </div>

            <div class="col-12 col-md-4"></div>
        </div>
    </div>

    <script>
        const hiddenInput = document.getElementById("final-url");

        document.addEventListener('DOMContentLoaded', function () {
            hiddenInput.value = window.location.origin + "/" + "{{ final_url }}/";
        }, false);

        function copyToClipboard() {
            if (hiddenInput.value !== "") {
                console.log(hiddenInput.value);
                /* Select the text field */
                hiddenInput.select();
                hiddenInput.setSelectionRange(0, 99999); /*For mobile devices*/

                /* Copy the text inside the text field */
                document.execCommand("copy");

                window.location.href = window.location.origin;  // TODO Should I use this?
            } else {
                console.log("Enter a url first before it's copied automatically!")
            }
        };
    </script>

{% endblock %}