{% extends "base.html" %}

{% block title %}Home{% endblock %}

{% block content %}
    <div class="wrapper">
        <div class="container vertical-center">
            <div class="row">

                <div class="col-12 col-md-4"></div>

                <div class="col-12 col-md-4">
                    <form action="" method="post" id="my-form">{% csrf_token %}
                        <div class="form-group">
                            <label for="originalLink">Link to shorten (Original Link)</label>
                            <input id="originalLink" class="form-control" name="original_url"
                                   placeholder="Website to link to here"
                                   type="text">
                        </div>
                        <div class="form-group">
                            <label for="urlSlug">The name of the shortened link</label>
                            <input id="urlSlug" class="form-control" name="slug" placeholder="myurlname" type="text">
                        </div>

                        <div class="form-group">
                            <input class="btn btn-primary full-width" type="submit" value="Shorten!">
                        </div>

                    </form>
                </div>
            </div>

            <div class="col-12 col-md-4"></div>
        </div>
    </div>

    <script>
        const f = document.getElementById("my-form");

        function copyToClipboard() {
            /* Get the text field */
            var copyText = document.getElementById("urlSlug");
            copyText.value = copyText.value.replace(/[^A-Z0-9]+/ig, "_");
            copyText.value = window.location.origin + "/" + copyText.value;
            console.log(copyText.value);
            console.log(copyText.value);
            /* Select the text field */
            copyText.select();
            copyText.setSelectionRange(0, 99999); /*For mobile devices*/

            /* Copy the text inside the text field */
            document.execCommand("copy");
            alert("Link copied to clipboard!")
        }

        f.addEventListener("submit", copyToClipboard);
    </script>

{% endblock %}